<!DOCTYPE html>
<html ng-app="tsq"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="使用nodejs 百度音乐下载器"/><meta name="description" content="使用nodejs 百度音乐下载器"/>
    <title>百度音乐下载器</title>

    <link rel="stylesheet" type="text/css" href="asset/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="asset/global.css">
    <link type="text/css" rel="stylesheet" href="asset/color-button.css">
    <!-- js Boots_from -->
    <script src="asset/jquery.js"></script>
    <script src="asset/bootstrap.min.js"></script>
    <script src="asset/custom.js"></script>
    <!-- end Boots_from -->
    <style type="text/css"></style><style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }</style><style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
        .en-markup-crop-options {
            top: 18px !important;
            left: 50% !important;
            margin-left: -90px !important;
            width: 180px !important;
            border: 2px rgba(255,255,255,.38) solid !important;
            border-radius: 4px !important;
        }

        .en-markup-crop-options div div:first-of-type {
            margin-left: 0px !important;
        }
    </style></head>

<body data-spy="scroll" data-target=".subnav" data-offset="50" data-twttr-rendered="true" ng-controller="MainCtrl">
    <%- body %>
</body>
<script src="asset/angular.min.js"></script>
<script src="asset/angular-resource.min.js"></script>
<script src="asset/ui-bootstrap-tpls.min.js"></script>
<script src="asset/me.js"></script>
</html>
