

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="http://wbpreview.com/previews/WB082S4MT/index.html#">
                <span>Choose</span><span class="cl-blue">Logo</span>
            </a>
        </div>
    </div>
</div>
<!-- end navbar -->
<div class="main">
<div class="container">
<div class="row">
    <div class="box-wrapper span12">
        <div class="widget">
            <div class="wrapper-search">
                <form class="form-inline form-search border-rd4" ng-submit="submit()">
                    <input placeholder="请输入歌手或歌曲名 .." type="text" class="box-text" ng-model="search.name"
                           x-webkit-speech  typeahead="title for title in getValue($viewValue) | filter:$viewValue"
                            >
                    <a href="" class="btn-search" ng-click="submit()"></a>
                </form>
            </div>
        </div>
    </div><!-- end box-wrapper -->
</div>
<div class="row">
<div class="box-wrapper  span12">

    <div class="row">
        <div class="title span12">
            <h3 class="pull-left">歌曲列表</h3>
            <div class="sort pull-right dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://wbpreview.com/previews/WB082S4MT/index.html#">
                    下载备用地址
                    <b class="caret"></b>
                </a>
            </div>
        </div><!-- end title -->
    </div>
    <ul class="thumbnails thumbnails-horizontal" id="container">
        <li class="span3" ng-repeat="obj in objs" style="cursor: pointer">
            <div class="thumbnail border-radius-top">
                <div class="bg-thumbnail-img">
                    <a class="overlay" href="http://wbpreview.com/previews/WB082S4MT/detail.html">
                        <img src="asset/play.png">
                    </a>
                    <img class="border-radius-top" src="asset/pj1.jpg" ng-click="down(obj.songid)">
                </div>
                <h5><a href="http://wbpreview.com/previews/WB082S4MT/detail.html"><span ng-bind="obj.artistname"></span> </a></h5>
            </div>
            <div class="box border-radius-bottom">
                <p>
                    <span class="title_torrent pull-left pull-left"><span ng-bind="obj.songname"></span></span>
                    <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i><span ng-bind="obj.songid"></span></span>
                </p>
            </div>
        </li>
<!--        <li class="span3">
            <div class="thumbnail border-radius-top">
                <div class="bg-thumbnail-img">
                    <a class="overlay" href="http://wbpreview.com/previews/WB082S4MT/detail.html">
                        <img src="asset/play.png">
                    </a>
                    <img class="border-radius-top" src="asset/pj2.jpg">
                </div>
                <h5><a href="http://wbpreview.com/previews/WB082S4MT/detail.html">Lorem ipsum dolor sit </a></h5>
            </div>
            <div class="box border-radius-bottom">
                <p>
                    <span class="title_torrent pull-left">Movie</span>
                    <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                </p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail border-radius-top">
                <div class="bg-thumbnail-img">
                    <a class="overlay" href="http://wbpreview.com/previews/WB082S4MT/detail.html" style="display: none;">
                        <img src="asset/play.png">
                    </a>
                    <img class="border-radius-top" src="asset/pj3.jpg" style="opacity: 1;">
                </div>
                <h5><a href="http://wbpreview.com/previews/WB082S4MT/detail.html">Lorem ipsum dolor sit </a></h5>
            </div>
            <div class="box border-radius-bottom">
                <p>
                    <span class="title_torrent pull-left">Movie</span>
                    <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                </p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail border-radius-top">
                <div class="bg-thumbnail-img">
                    <a class="overlay" href="http://wbpreview.com/previews/WB082S4MT/detail.html">
                        <img src="asset/play.png">
                    </a>
                    <img class="border-radius-top" src="asset/pj4.jpg">
                </div>
                <h5><a href="http://wbpreview.com/previews/WB082S4MT/detail.html">Lorem ipsum dolor sit </a></h5>
            </div>
            <div class="box border-radius-bottom">
                <p>
                    <span class="title_torrent pull-left">Movie</span>
                    <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                </p>
            </div>
        </li>

        <li class="span3">
            <div class="thumbnail border-radius-top">
                <div class="bg-thumbnail-img">
                    <a class="overlay" href="http://wbpreview.com/previews/WB082S4MT/detail.html">
                        <img src="asset/play.png">
                    </a>
                    <img class="border-radius-top" src="asset/pj5.jpg">
                </div>
                <h5><a href="http://wbpreview.com/previews/WB082S4MT/detail.html">Lorem ipsum dolor sit </a></h5>
            </div>
            <div class="box border-radius-bottom">
                <p>
                    <span class="title_torrent pull-left">Movie</span>
                    <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                </p>
            </div>
        </li>

        <li class="span3">
            <div class="thumbnail border-radius-top">
                <div class="bg-thumbnail-img">
                    <a class="overlay" href="http://wbpreview.com/previews/WB082S4MT/detail.html">
                        <img src="asset/play.png">
                    </a>
                    <img class="border-radius-top" src="asset/pj6.jpg">
                </div>
                <h5><a href="http://wbpreview.com/previews/WB082S4MT/detail.html">Lorem ipsum dolor sit </a></h5>
            </div>
            <div class="box border-radius-bottom">
                <p>
                    <span class="title_torrent pull-left">Movie</span>
                    <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                </p>
            </div>
        </li>

        <li class="span3">
            <div class="thumbnail border-radius-top">
                <div class="bg-thumbnail-img">
                    <a class="overlay" href="http://wbpreview.com/previews/WB082S4MT/detail.html" style="display: none;">
                        <img src="asset/play.png">
                    </a>
                    <img class="border-radius-top" src="asset/pj7.jpg" style="opacity: 1;">
                </div>
                <h5><a href="http://wbpreview.com/previews/WB082S4MT/detail.html">Lorem ipsum dolor sit </a></h5>
            </div>
            <div class="box border-radius-bottom">
                <p>
                    <span class="title_torrent pull-left">Movie</span>
                    <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                </p>
            </div>
        </li>

        <li class="span3">
            <div class="thumbnail border-radius-top">
                <div class="bg-thumbnail-img">
                    <a class="overlay" href="http://wbpreview.com/previews/WB082S4MT/detail.html">
                        <img src="asset/play.png">
                    </a>
                    <img class="border-radius-top" src="asset/pj8.jpg">
                </div>
                <h5><a href="http://wbpreview.com/previews/WB082S4MT/detail.html">Lorem ipsum dolor sit </a></h5>
            </div>
            <div class="box border-radius-bottom">
                <p>
                    <span class="title_torrent pull-left">Movie</span>
                    <span class="number-view pull-right"><i class="icon-white icon-eye-open"></i>1,444,898</span>
                </p>
            </div>
        </li>-->
    </ul>
</div><!-- end  -->

</div><!-- row -->

</div><!-- end container -->
</div><!-- end main -->
