

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="http://wbpreview.com/previews/WB082S4MT/index.html#">
                <span>Choose</span><span class="cl-blue">Logo</span>
            </a>
        </div>
    </div>
</div>
<!-- end navbar -->
<div class="main">
<div class="container">
<div class="row">
    <div class="box-wrapper span12">
        <div class="widget">
            <div class="wrapper-search">
                <form class="form-inline form-search border-rd4" ng-submit="submit()">
                    <input placeholder="请输入歌手或歌曲名 .." type="text" class="box-text" ng-model="search.name"
                           x-webkit-speech  typeahead="title for title in getValue($viewValue) | filter:$viewValue"
                            >
                    <a href="" class="btn-search" ng-click="submit()"></a>
                </form>
            </div>
        </div>
    </div><!-- end box-wrapper -->
</div>
<div class="row">
<div class="box-wrapper  span12">

    <div class="row">
        <div class="title span12">
            <h3 class="pull-left">歌曲列表</h3>
            <div class="sort pull-right dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="http://wbpreview.com/previews/WB082S4MT/index.html#">
                    下载备用地址
                    <b class="caret"></b>
                </a>
            </div>
        </div><!-- end title -->
    </div>
    <ul class="thumbnails thumbnails-horizontal" id="container">
        <li class="span3" ng-repeat="obj in objs" style="cursor: pointer">
            <div class="thumbnail border-radius-top">
                <div class="bg-thumbnail-img">
                    <a class="overlay" href="">
                        <img src="asset/play.png">
                    </a>
                    <img class="border-radius-top" ng-src="{{obj.songPicBig||'asset/pj2.jpg'}}" ng-click="down(obj.song)">
                </div>
                <h5>歌手:<span ng-bind="obj.artistName"></span></h5>
            </div>
            <div class="box border-radius-bottom">
                <p>
                    <a target="_blank" ng-href="/music/getPipe?url={{obj.song}}"><span class="title_torrent pull-left pull-left">下载:<span ng-bind="obj.songName"></span></span></a>
                    <span class="number-view pull-right"><i ng-click="showLrc(obj.lrcLink, obj.songName)" class="icon-white icon-eye-open"></i><a ng-click="showLrc(obj.lrcLink, obj.songName)">歌词</a></span></span>
                </p>

            </div>
        </li>
    </ul>
</div><!-- end  -->

</div><!-- row -->

</div><!-- end container -->
</div><!-- end main -->


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 style="text-align: center; color: #428bca;"><span ng-bind="user.name"></span></h3>
    </div>
    <div class="modal-body">
        <div class="modal-body">
            <textarea style="height: 400px; width: 560px;background-color:#F4F4F4" ng-model="user.lrc"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">关闭</button>
    </div>
</script>
